nav {
    position: fixed;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
}

.navbar {
    color: white;
}

/* .navbar-toggler-icon {
  /  color: white !important;
} */

.navbar-toggler-icon {
    background-image: none !important;
    color: white;
}

.bg-dark {
    background-color: transparent !important;
}

nav.grey {
    background-color:  rgb(15, 15, 15) !important;
    animation-delay: 3s;
    z-index: 6;
}

.container-fluid {
    display: inline-block !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.hidden {
    background-color:gold;
}